<div class="col-md-8">
    <h3 class="new-visitor"> 
      <a href= "/welcome/index">
        <i class="fa fa-arrow-circle-left" aria-hidden="true" style="margin-right: 30px; color: black">
        </i>
      </a>New visitor</h3>
</div>

<%= form_with(model: vistor, local: true) do |form| %>
  
  <div class="col-md-8">
      <div class="form-group">
        <label class="label-visitors" for="sel1">VISITOR TYPE</label>
        <%= form.select :visitor_type, options_for_select(Vistor::VISITOR_TYPE, :selected => @vistor.visitor_type),{},{class: "form-control form-class"} %>
      </div>
  </div>

  <div class="clearfix">
    
  </div>

  <div class="col-md-4">
    <div class="form-group">
      <label class="label-visitors" for="usr">ARRIVAL DATE</label>
      <%= form.text_field :arrival_date, 'data-behaviour' => 'datepicker',class: "form-control form-class",:required => true %>
    </div>
   </div>

  <div class="col-md-4">
    <div class="form-group">
      <label class="label-visitors" for="usr">ARRIVAL TIME</label>
      <%= form.select :arrival_time, options_for_select(create_hours(:start_time => 0.hours, :end_time => 23.5.hours)),{},{class: "form-control form-class" ,:required => true} %>
    </div>
  </div>

  <div class="col-md-8">
    <div class="form-group">
      <label class="label-visitors" for="usr">FULL NAME </label><span class="requiredField"></span>
      <%= form.text_field :username, id: :vistor_username, class: "form-control form-class",:required => true %>
      <small class='error'><%= show_errors(@vistor, :username) %></small>
    </div>
  </div>

  <div class="col-md-8">
    <div class="form-group">
      <label class="label-visitors" for="usr">YOU ARE HERE FOR</label>
      <%= form.text_field :here_for, id: :here_for, class: "form-control form-class" %>
    </div>
  </div>

  <div class="col-md-8">
    <div class="form-group">
      <label class="label-visitors" for="usr">YOUR PHONE NUMBER</label>
      <%= form.text_field :contact_number, id: :vistor_contact_number, class: "form-control form-class"  %>
    </div>
  </div>

  <div class="col-md-8">
    <div class="form-group">
      <label class="label-visitors" for="usr">YOUR EMAIL ADDRESS</label>
      <%= form.text_field :email, id: :vistor_email, class: "form-control form-class"  %>
    </div>
  </div>

  <div class="col-md-8">
      <div class="form-group">
      <label class="label-visitors" for="sel1">HOST</label>
        <%= form.select :host, options_for_select(Vistor::HOST, :selected => @vistor.visitor_type),{:include_blank => "Select Host"},{class: "form-control form-class"} %> 
      </div>  
  </div>

  <div class="col-md-8">
    <div class="form-group">
      <label class="label-visitors" for="comment">PRIVATE NOTES</label>
      <%= form.text_area :note, id: :note, class: "form-control form-class", rows: "5"  %>
    </div>
  </div>

  <div class="clearfix"></div>

                                
   <div class="col-md-4">
      <label class="checkbox-inline label-visitors margin-label-visitors"><input type="checkbox" value="">SEND HOST NOTIFICATION</label>
   </div>

  <div class="clearfix"></div>


   <div class="col-md-8 btn-visitor"">
      <%= form.submit "Sign in", :class => 'btn btn-sign' %>
      <%= form.submit "Sign in and add another", :class => 'btn btn-sign-another' %>
   </div>

<%end%>
