<tr>
  <td><label class="checkbox-inline ">
      <p class="circle-par">
        <%= vistor.username[0] %>         
      </p>
    </label>
  </td>
  <td class="table_data"><%= vistor.username %></td>
  <td class="table_data2"><%= vistor.email %></td>
  <td class="table_data2"><%= vistor.contact_number %></td>
  <td class="table_data2"><%= vistor.created_at.localtime.strftime("%I:%M %p") %></td>
  <td class="table_data2">
    <% if vistor.checkout_time.present? %>
        <%= vistor.checkout_time.localtime.strftime("%I:%M %p") %>
      <% else %>
        <%= link_to 'Sign out', signout_vistor_vistors_path(vistor_id: vistor.id) %>
      <% end %></td>
</tr>

