<p id="notice"><%= notice %></p>
<script src="https://use.fontawesome.com/1e803d693b.js"></script>


<div class="container">
  <div class="row">
    <h3 class="col-md-4 vistor-count">
      <%=  @vistors.count %> Vistors
    </h3>
    <div class="col-md-4">
      
    </div>
    <div class="col-md-3">
      <%= text_field_tag 'search-query', nil, class: 'search-query form-control' %>
    </div>
    <div class="col-md-1">
      <%= link_to 'New Vistor', new_vistor_path, :class => 'btn btn-large btn-danger' %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 search_by_date_form">
      <%= label_tag '<', nil, class: 'btn btn-danger yesterday_record_button' %>
      <%= hidden_field_tag :search_by_yesterday, @yesterday, 'data-behaviour' => 'datepicker'%>

      
<!--       <%= form_for :search, :url => search_by_date_vistors_path, remote: true, :id =>"search_by_date_form"  do |f| %>
        <%= f.text_field :search_by_date,:value => @today.strftime('%A, %d %b %Y'), 'data-behaviour' => 'datepicker'%>
      <% end %> -->

      <%= text_field_tag :search_by_calender, @today.strftime('%A, %d %b %Y'), 'data-behaviour' => 'datepicker'%>

      <%= label_tag '>', nil, class: 'btn btn-danger tomorrow_record_button' %>
      <%= hidden_field_tag :search_by_tomorrow, @tomorrow, 'data-behaviour' => 'datepicker'%>


    </div>
    <div class="col-md-3">
      <%= select_tag('search_by_user_type', options_for_select(["Currently Signed In", "Currently Signed Out"]),prompt: "All Visitors", class: 'form-control search_by_user_type', id: 'search_by_user_type') %>
    </div>
    <div class="col-md-1">
      <%= link_to 'Export', generate_reports_vistors_path(format: :csv, date: @today), :class => 'btn btn-large btn-danger' %>
    </div>
  </div>
  <br>
  <br
  <div class="row">
        <div class="panel panel-default user_panel">
            <div class="panel-heading">
                <h3 class="panel-title">Vistors</h3>
            </div>
            <div class="panel-body">
        <div class="table-container">
                    <table class="table-users table" border="0">
                        <tbody> 
                            <th>Image</th>
                            <th>User Name</th>
                            <th>Email</th>
                            <th>Contact Number</th>
                            <th>Checked In</th>
                            <th>SIGNED OUT</th>
                            <tbody class="vistor_record">
                              <%= render :partial => 'vistors_records',collection: @vistors, as: :vistor %>
                            </tbody>
                             
                        </tbody>
                    </table>
                </div>
            </div>

          <div class="col-md-3">
            <div class="vistor-count">
              <%=  @vistors.count %> Vistors
            </div>
            <%= link_to 'Export', generate_reports_vistors_path(format: :csv, date: @today), :class => '' %>
          </div>
        </div>

  </div>
  <%= link_to 'New Vistor? Check In', new_vistor_path %>
  <br>
  <%= link_to 'Home', welcome_index_path %>
</div>


<style type="text/css">
  i {  vertical-align: middle; }
.table-users tbody tr:hover {
  cursor: pointer;
  background-color: #eee;
}
.nav-user-photo {
     vertical-align: middle;
}
.user_panel {
    width: 100%;
}





</style>