<!DOCTYPE html>
<html>
  <head>
    <title>Maroc</title>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag "font-awesome" %>
     <%= stylesheet_link_tag "font-awesome.min" %>
    <%= stylesheet_link_tag "style" %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <%= javascript_include_tag 'jquery' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

    <body>
        <div class="container page-div">
            <div class="row">
                <div class="main-page">
                    <div class="col-md-4 col-md-offset-1 text">
                        <h1>The easiest way to sign in visitors</h1>
                        <p>Collect guest information, capture their photos and have them sign legal documents—all on the iPad.</p>
                        <%= link_to 'Check In', new_vistor_path, :class => 'btn btn-sign' %>
                        <%= link_to 'Check Out', vistors_path, :class => 'btn btn-sign' %>
                    </div>
                    
                </div>
            </div>    
        </div>
    </body>
</html>


